body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #333;
    color: white;
    padding: 1rem;
    text-align: center;
    height: 60px;
    line-height: 20px;
}

main {
    padding: 1rem;
}

#products{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    position: relative;
    min-width: 52%;
    max-width: 60%;
}

.product-card img {
    width: 100%;
    max-width: 100px;
    height: auto;
    margin-bottom: 0.5rem;
}

.product-card button {
    background-color: #007bff;
    color: white;
    border: none;
    font-size: 15px;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.product-card button:hover {
    background-color: #0056b3;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    position: relative;
}

.modal-content img {
    width: auto;
    max-height: 300px;
    min-height: 150px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

form label, form input {
    display: block;
    width: 100%;
    margin-bottom: 0.5rem;
}

form button, div button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover, div button:hover, .quantity-button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

.quantity-container {
    display: flex;
    align-items: center;
    margin: 5px 0;
    gap: 0px;
}

.quantity-button {
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s;
}

.quantity-input {
    width: 60px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 18px;
    margin: 0 5px;
}
.quantity-input {
    -moz-appearance: textfield; 
    appearance: textfield;
}
.quantity-input::-webkit-inner-spin-button,
.quantity-input::-webkit-outer-spin-button {
    -webkit-appearance: none; 
    margin: 0;
}